.side-bar
  .side-bar__user-name
    .top-items
      .top-items__name
        name
      .top-items__icons
        = link_to root_path, class: "edit__btn" do
          = icon('fa', 'edit')
          %span<>
        = link_to root_path, class: "cog__btn"do
          = icon('fa', 'cog')
          %span<>
  .side-bar__group-list
    .bottom-groups
      .bottom-groups__name
        techcamp
      .bottom-groups__message
        まだメッセージがありません