.chat-main {
  height: 100vh;
  width: calc(100% - 300px);
  background-color: #ffffff;
  float: right;
}

  .chat-main__group-info {
    height: 100px;
    width: calc(100vw - 300px);
    background-color: #ffffff;
    display: flex;
  }

    .chat-main__group-info__left {
      width: 100%;
    }

      .chat-main__group-info__left__name {
        font-size: 20px;
        padding: 35px 0px 15px 40px;
      }

      .chat-main__group-info__left__member {
        color: #999999;
        font-size: 12px;
        padding-left: 40px;
      }

    .chat-main__group-info__icon {
      justify-content: flex-end;
      height: 40px;
      width: 72px;
      color: #38aef0;
      margin: 30px 40px 0px 40px;
      padding: 0px 20px;
      font-size: 16px;
      line-height: 40px;
      border: 1px solid;
    }

      .chat-main__group-info__icon__edit {
        text-decoration:none;
        color: #38aef0;
      }


  .chat-main__message-list {
    height: calc(100vh - 190px);
    width: calc(100vw - 300px);
    background-color: #fafafa;
    padding: 35px 0px 0px 40px;
  }
    .chat-main__message-list__box {
      display: flex;
      margin-bottom: 12px;
    }

      .chat-main__message-list__box__title {
        font-size: 16px;
        color: #333333;
        font-weight: bold;
      }

      .chat-main__message-list__box__title__time {
        font-size: 12px;
        color: #999999;
        margin-left: 12px;
      }

    .chat-main__message-list__box__message {
      font-size: 14px;
      color: #434A54;
      padding-bottom: 46px;
    }


  .form {
    height: 90px;
    width: calc(100vw - 300px);
    background-color: #d2d2d2;
    padding: 20px 40px;

    form {
      display: flex;
      .input-box {
          
        &__text {
          height: 50px;
          width: calc(100% - 115px);
          background-color: #ffffff;
          line-height: 50px;
          padding-left: 10px;
          display: flex;
        }
        &__image {
          &__file {
            display: none;
          }
        }
      }


      .submit-btn {
        height: 50px;
        width: 100px;
        background-color: #38aef0;
        color: #ffffff;
        text-align: center;
        line-height: 50px;
        margin-left: 15px;
      }
    }
  }